* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #222831; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #222831;
  width: 100%; }

.container {
  background-color: var(--color-grey-light-1);
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr); }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: regular;
  font-size: 1.6rem;
  padding: 3rem;
  color: #eeeeee;
  background-color: #393e46; }
  .navigation__nav {
    display: flex;
    list-style: none;
    margin: 2rem;
    justify-content: space-between; }
    .navigation__nav > * {
      margin: 2rem; }
  .navigation__logo {
    display: inline;
    border: 3px #00adb5 solid;
    border-radius: 3rem;
    padding: 0.7rem; }
  .navigation__projects {
    align-self: flex-start; }
    .navigation__projects:hover {
      color: #00adb5; }
  .navigation__blog a {
    text-decoration: none;
    color: currentColor; }
    .navigation__blog a:hover {
      color: #00adb5; }
  .navigation__about:hover {
    color: #00adb5; }
  .navigation__contact:hover {
    color: #00adb5; }

.intro {
  background-color: #393e46;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  padding: 3rem 0rem;
  margin-top: -1rem;
  color: #eeeeee; }
  .intro__name {
    text-align: center; }
    .intro__name-primary {
      color: #00adb5; }
  .intro__description {
    text-align: center;
    width: 66.666667%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem; }

.recent_posts {
  text-align: center;
  color: #00adb5;
  font-family: "Open Sans", sans-serif;
  font-weight: Bold;
  font-size: 2rem;
  align-self: center;
  justify-content: center;
  padding: 3rem; }

.post__feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.post {
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 5rem; }
  .post-link {
    color: #eeeeee;
    text-decoration: none; }
  .post__header {
    font-size: 1.8rem;
    text-align: start; }
  .post__snippet {
    font-size: 1.6rem;
    text-align: justify;
    opacity: 0.7; }
  .post__metadata {
    display: flex;
    margin-top: 1rem;
    justify-content: start;
    font-style: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.8; }
    .post__metadata-pubDate {
      margin-right: 2rem; }

.footer {
  background-color: #393e46; }
  .footer__content {
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    width: 66.666667%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 2rem; }
    .footer__content-copyright {
      font-size: 1.3rem; }
    .footer__content-media {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.3rem; }
      .footer__content-media li a {
        padding-right: 2rem;
        text-decoration: none;
        color: #eeeeee; }
