* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #222831; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #222831;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 6rem auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #eeeeee; }
  .navigation__nav {
    display: flex;
    list-style: none;
    margin: 2rem;
    justify-content: space-between; }
    .navigation__nav > * {
      margin: 2rem; }
  .navigation__logo {
    display: inline;
    border: 3px #00adb5 solid;
    border-radius: 3rem;
    padding: 0.7rem; }
  .navigation__projects {
    align-self: flex-start; }
    .navigation__projects:hover {
      color: #00adb5; }
  .navigation__blog a {
    text-decoration: none;
    color: currentColor; }
    .navigation__blog a:hover {
      color: #00adb5; }
  .navigation__about:hover {
    color: #00adb5; }
  .navigation__contact:hover {
    color: #00adb5; }

.intro {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: light 200;
  height: 25rem;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center; }
  .intro__name {
    text-align: center;
    color: #eeeeee;
    font-size: 3.5rem; }
  .intro__description {
    text-align: justify;
    color: #eeeeee;
    padding: 1rem 8rem;
    font-size: 1.75rem; }

.post__feed {
  display: flex;
  flex-direction: column;
  color: #eeeeee;
  margin-top: 10rem; }
  .post__feed-header {
    flex-grow: 1;
    font-size: 1.5rem; }

.post {
  background-color: #393e46; }

.footer {
  background-color: #00adb5; }
