.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    -webkit-box-shadow: var(--shadow-dark);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    }


.navigation{
  

    &__nav{
        font-family: 'Nunito Sans',
        sans-serif;
        font-weight: light 300;
        font-size:1.5rem;
        color: $color-grey-light-1;
        display:flex;
        list-style: none;
        margin:2rem;
        justify-content: space-around;

        & > * {
           
            margin:2rem;
        }
    }

    &__name {
       
       flex:0 1 30%;
       border-bottom: 4px solid;
       border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
       border-image-slice: 1;
    }

    &__projects {
         align-self: flex-start;
         &:hover {
             color:$color-tertiary;
         }
        
    }

    &__blog a{
        text-decoration:none;
        color:currentColor;
        &:hover {
            color: $color-tertiary;
        }
    }

    &__about {
       &:hover {
           color: $color-tertiary;
       }
    }

    &__contact {
        &:hover {
            color: $color-tertiary;
        }
    }



}

.intro {

     font-family: 'Nunito Sans',
     sans-serif;
     font-weight: light 300;
     margin-top: 5rem;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
    &__name {
        text-align: center;
        color: $color-grey-light-1;
        font-size:3.5rem;
    }

    &__description {
        text-align: justify;
        color: $color-grey-light-1;
        padding: 1rem 8rem;
        font-size:1.75rem;
    }
}