---
const year = new Date().getFullYear();
---
<footer class="footer">
  <div class="footer__content">
    <span class="footer__content-copyright">&copy;Susham Yerabolu {year}</span>
    <ul class="footer__content-media">
      <li><a href="https://www.twitter.com/susham_y" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="https://www.github.com/susham" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/sushamkumar/" target="_blank" rel="noopener">LinkedIn</a></li>
    </ul>
  </div>
</footer>
