---
const currentPath = Astro.url.pathname;
---
<nav class="navigation">
  <div class="navigation__logo">
    <a href="/">Susham Yerabolu</a>
  </div>
  <ul class="navigation__nav">
    <li class="navigation__blog">
      <a href="/blog">Blog</a>
    </li>
    <li class="navigation__projects">
      <a href="/projects">Projects</a>
    </li>
    <li class="navigation__about">
      <a href="/#about">About</a>
    </li>
    <li class="navigation__contact">
      <a href="/#contact">Contact</a>
    </li>
  </ul>
</nav>
